# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
- Exercise 3 - Create a markdown cell for an introduction. (1 pt)
- Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
- Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
- Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)
- Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)
- Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)
- Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)
- Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)
- Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)
- Exercise 12 - Share your notebook through GitHub (3 pts)
- Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Keras
5. Tensorflow
6. Pytorch
7. Scikit-learn

| Data Science Tools    | 
| -------- | 
| Jupyter Notebook  | 
| RStudio | 
| Hadoop    |

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
min = 200 
hour = 200 / 60
hour

3.3333333333333335

## Author

Nikhil Kumar Chaudhary